// Nextflow configuration file

params {
    bucket = null
    delivery = null
    sample_sheet = null
    reads_per_file = 1000000
}

// enable Docker and wave support
docker.enabled = true
docker.runOptions = '-v $HOME/.aws/credentials:/credentials -e AWS_SHARED_CREDENTIALS_FILE=/credentials'
wave.enabled = true

// AWS Client settings
aws.client.maxConnections = 1000
aws.client.maxErrorRetry = 10
aws.client.connectionTimeout = 0
aws.client.socketTimeout = 0

// Enable the use of module binaries
nextflow.enable.moduleBinaries = true

profiles {
    standard { // Run on EC2 instance with local working directory
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
    ec2_s3 { // Run on EC2 instance with a S3 working directory
        fusion.enabled = true
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
}

outputDir = "${params.bucket}/${params.delivery}/siz"

workflow {
    output {
        enabled = true
        mode = "copy"
        overwrite = "standard"
    }
}