// Nextflow config file

// Global default params, used in configs
params {
    // Input options
    bucket = null
    delivery = null
    sample_sheet = null

    // Output options
    outdir = null
    
    // SIZ options
    read_pairs_per_siz = 1000000
}

// enable Docker and wave support
docker.enabled = true
docker.runOptions = '-v $HOME/.aws/credentials:/credentials -e AWS_SHARED_CREDENTIALS_FILE=/credentials'
wave.enabled = true

// AWS Client settings
aws.client.maxConnections = 1000
aws.client.maxErrorRetry = 10
aws.client.connectionTimeout = 0
aws.client.socketTimeout = 0

profiles {
    standard { // Run on EC2 instance with local working directory
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
    ec2_s3 { // Run on EC2 instance with a S3 working directory
        fusion.enabled = true
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
    ci {
        process {
            withName: 'SPLIT_INTERLEAVE' {
                cpus = 2
                memory = { 2.GB }
            }
        }
    }
}

workflow {
    output {
        enabled = true
        mode = "copy"
        overwrite = "standard"
    }
}

process {
    withName: 'COMPILE_BINARY' {
        // Build details: https://wave.seqera.io/view/builds/bd-4e7dbefa884f3ea1_1
        container = 'community.wave.seqera.io/library/gcc_make_zstd:4e7dbefa884f3ea1'
        cpus   = { 2      }
        memory = { 1.GB   }
        time   = { 5.m    }
    }

    withName: 'SPLIT_INTERLEAVE' {
        // Build details: https://wave.seqera.io/view/builds/bd-9f7a7e4daeb80cea_1
        container = 'community.wave.seqera.io/library/gzip_zstd:9f7a7e4daeb80cea'
        publishDir = [
            path: { meta.outdir },
            mode: 'move'
        ]
        cpus   = { 6      }
        memory = { 8.GB   }
        time   = { 2.h    }
    }
}
