process {
    withName: SPLIT_INTERLEAVE {
        publishDir = [
            path: '.',
            mode: 'copy'
        ]
    }
}

params {
    reads_per_file = 1000
    output_dir     = 'output'
}

aws {
    region = 'region'
    client {
         accessKey = 'YOUR_ACCESS_KEY'
         secretKey = 'YOUR_SECRET_KEY'
    }
}