params {
    // Test parameters
    outdir = "output"
}

profiles {
    test {
        process {
            // Global CPU limit for tests, important for GitHub Actions
            cpus = 2
            
            // Override for specific processes
            withName: 'SIZER' {
                cpus = 1
                memory = { 2.GB }
            }
            withName: 'GENERATE_SAMPLESHEET' {
                cpus = 1  
                memory = { 2.GB }
            }
        }
    }
}