// Currently universal settings
docker.enabled = true
wave.enabled = true
aws.client.maxConnections = 1000
aws.client.maxErrorRetry = 10
aws.client.connectionTimeout = 0
aws.client.socketTimeout = 0
nextflow.enable.moduleBinaries = true

// Workflow run profiles
profiles {
    standard { // Run on AWS Batch
        fusion.enabled = true
        fusion.exportStorageCredentials = true
        process.executor = "local"
        process.errorStrategy = "retry"
        process.maxRetries = 3
    }
}

// Set working directory
workDir = "s3://${params.bucket}/${params.delivery}/work"